flows/Waitlist2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action that creates a waitlist record and the work type and service resource records associated with the waitlist. If the action encounters an error, the flow user returns to SetStageToServiceResources so they can make different selections.</description>
        <name>CreateWaitlist</name>
        <label>Create Waitlist</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <actionName>createWaitlist</actionName>
        <actionType>createWaitlist</actionType>
        <connector>
            <targetReference>SetStageToReviewResults</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStageToSelectServiceResources</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>waitlistName</name>
            <value>
                <elementReference>WaitlistName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>waitlistDescription</name>
            <value>
                <elementReference>WaitlistDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>ServiceTerritoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workTypeIds</name>
            <value>
                <elementReference>WorkTypeIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResourceIds</name>
            <value>
                <elementReference>ServiceResourceIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createWaitlist</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Sets the current stage to EnterWaitlistDetailsStage.</description>
        <name>SetStageToReviewResults</name>
        <label>Set Stage to Review Results</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewResultsStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewWaitlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the current stage to EnterWaitlistDetailsStage.</description>
        <name>SetStageToSelectServiceResources</name>
        <label>Set Stage to Select Service Resources</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectServiceResourcesStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectServiceResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow&apos;s current stage to SelectWorkTypeStage and sets the values of WaitlistName and WaitlistDescription to TextWaitlistName and LongTextAreaDescription respectively.</description>
        <name>SetStageToSelectWorkTypes</name>
        <label>Set Stage to Select Work Types</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectWorkTypesStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WaitlistName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextWaitlistName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WaitlistDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextAreaDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectWorkTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the current stage to EnterWaitlistDetailsStage.</description>
        <name>SetStageToWaitlistDetails</name>
        <label>Set Stage to Enter Waitlist Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnterWaitlistDetailsStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenCollectWaitlistDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message to &quot;Please select a Work Type&quot;</description>
        <name>SetWorkTypeError</name>
        <label>Set Work Type Error</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CreateWaitlist.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Work Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenSelectWorkTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether a Work Type is selected</description>
        <name>IsWorkTypeSelected</name>
        <label>Is Work Type Selected</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SetStageToSelectServiceResources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoWorkTypeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkTypeIdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetWorkTypeError</targetReference>
            </connector>
            <label>No Work Type Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Waitlist2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Waitlist2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <screens>
        <description>Allows the flow user to see the waitlist name and its associated service territory.</description>
        <name>ReviewWaitlist</name>
        <label>Review Waitlist</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReviewWaitlist_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewWaitlist_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayTextConfirmation</name>
                    <fieldText>&lt;p&gt;The {!WaitlistName} waitlist was created for the {!ServiceTerritoryName} Branch.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to specify a name, service territory, and a description for the waitlist to create. Stores the ID and name of the selected services territory record in ServiceTerritoryId and ServiceTerritoryName variables respectively.</description>
        <name>ScreenCollectWaitlistDetails</name>
        <label>Collect Waitlist Details</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetStageToSelectWorkTypes</targetReference>
        </connector>
        <fields>
            <name>ScreenCollectWaitlistDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCollectWaitlistDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextWaitlistName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>WaitlistName</elementReference>
                    </defaultValue>
                    <fieldText>Waitlist Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCollectWaitlistDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookupServiceTerritory</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceTerritoryId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Waitlist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>$Label.InvocableCreateWaitlist.serviceTerritory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ServiceTerritoryId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ServiceTerritoryId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>ServiceTerritoryName</assignToReference>
                        <name>recordName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenCollectWaitlistDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCollectWaitlistDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LongTextAreaDescription</name>
                    <defaultValue>
                        <stringValue>{!WaitlistDescription}</stringValue>
                    </defaultValue>
                    <fieldText>Waitlist Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelectServiceResources</name>
        <label>Select Service Resources</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateWaitlist</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectServiceResources</name>
            <extensionName>runtime_appointmentbooking:flowWLSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeIds</name>
                <value>
                    <elementReference>WorkTypeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableOptionsHeader</name>
                <value>
                    <stringValue>Available Service Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>infoBubbleText</name>
                <value>
                    <stringValue>Select available service resources to add to the waitlist and click ➧.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectOptionsHeader</name>
                <value>
                    <stringValue>Select Services Resources for Waitlist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsHeader</name>
                <value>
                    <stringValue>Selected Service Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>error</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceResourceIds</assignToReference>
                <name>selectedIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSelectWorkTypes</name>
        <label>Select Work Types</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsWorkTypeSelected</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectWorkTypes</name>
            <extensionName>runtime_appointmentbooking:flowWLSetup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableOptionsHeader</name>
                <value>
                    <stringValue>Available Work Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>infoBubbleText</name>
                <value>
                    <stringValue>Select available work types to add to the waitlist and click ➧. </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectOptionsHeader</name>
                <value>
                    <stringValue>Select Work Types for Waitlist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsHeader</name>
                <value>
                    <stringValue>Selected Work Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptions</name>
                <value>
                    <elementReference>WorkTypeIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedIds</name>
                <value>
                    <elementReference>WorkTypeIdList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>error</name>
                <value>
                    <elementReference>CreateWaitlist.errorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkTypeIds</assignToReference>
                <name>selectedOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeIdList</assignToReference>
                <name>selectedIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Create_WL</sourceTemplate>
    <stages>
        <description>Stores the label and value associated with the first stage of the flow: Enter Waitlist Details.</description>
        <name>EnterWaitlistDetailsStage</name>
        <isActive>true</isActive>
        <label>Enter Waitlist Details</label>
        <stageOrder>18</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and value associated with the final stage of the flow: Review Results.</description>
        <name>ReviewResultsStage</name>
        <isActive>true</isActive>
        <label>Review Results</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and value associated with the third stage of the flow: Select Service Resources.</description>
        <name>SelectServiceResourcesStage</name>
        <isActive>true</isActive>
        <label>Select Services Resources</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and value associated with the second stage of the flow: Select Work Types.</description>
        <name>SelectWorkTypesStage</name>
        <isActive>true</isActive>
        <label>Select Work Types</label>
        <stageOrder>40</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetStageToWaitlistDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a collection of service resource Ids selected by the user in ComponentSelectWorkTypes on ScreenSelectWorkTypes</description>
        <name>ServiceResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the service territory selected by the user in LookupServiceTerritory in ScreenCollectWaitlistDetails.</description>
        <name>ServiceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the service territory selected by the user in LookupServiceTerritory in ScreenCollectWaitlistDetails.</description>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Waitlist Queue Object</description>
        <name>Waitlist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Waitlist</objectType>
    </variables>
    <variables>
        <description>Stores the description of the waitlist  to be created. The default value is the current value of LongTextAreaDescription in ScreenCollectWaitlistDetails. When the default value is set to LongTextAreaDescription, the variable is updated to reflect the latest value of LongTextAreaDescription. To customize the string that appears by default in the LongTextAreaDescription component, change the default value of this variable.</description>
        <name>WaitlistDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LongTextAreaDescription</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the name of the waitlist  to be created. The default value is the current value of TextWaitlistName in ScreenCollectWaitlistDetails. When the default value is set to TextWaitlistName, the variable is updated to reflect the latest value of TextWaitlistName. To customize the string that appears by default in the TextWaitlistName component, change the default value of this variable.</description>
        <name>WaitlistName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>TextWaitlistName</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores a comma-delimited list of work type IDs selected by the user  in ComponentSelectWorkTypes on ScreenSelectWorkTypes.</description>
        <name>WorkTypeIdList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of work type IDs selected by the user in ComponentSelectWorkTypes on ScreenSelectWorkTypes.</description>
        <name>WorkTypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
